/* Shared */
/* ---------------------------------------- */
:root {
  --background-color: rgba(247, 247, 247, 1);
  --primary-color: rgba(68, 65, 106, 1);
  --secondary-color: rgba(0, 0, 0, 0.75);
  --info-color: rgba(64, 50, 50, 0.75);
  --disabled-color: rgba(64, 50, 50, 0.3);
  --text-font-family: Montserrat, Helvetica, sans-serif;
  --gap-unit: 15px;

  --calorie-summary-start: rgba(128, 118, 241, 1);
  --calorie-summary-end: rgba(92, 205, 205, 1);
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font-family);
}

.feed,
.trends {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media screen and (max-width: 800px) {
  .feed,
  .trends {
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 801px) {
  .feed,
  .trends {
    width: 66%;
  }
}

/* Headers */
/* ---------------------------------------- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--primary-color);
}

.header-avatar {
  background-image: url(./images/headshot.jpg);
  background-position-y: 20%;
  background-size: 105%;
  border-radius: 125px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
  color: var(--primary-color);
}

.header-subtitle {
  color: var(--secondary-color);
}

.separator {
  border-top: 1px solid var(--disabled-color);
}

/* Mobile */
@media screen and (max-width: 800px) {
  .header-avatar {
    width: 150px;
    height: 150px;
    margin-top: 36px;
    margin-bottom: 18px;
  }

  .header-title {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .header-subtitle {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .separator {
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 801px) {
  .header-avatar {
    width: 250px;
    height: 250px;
    margin-top: 54px;
    margin-bottom: 24px;
  }
  .header-avatar:hover {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  }
  .header-title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .header-subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .separator {
    width: 66%;
  }
}

/* Navigation */
/* ---------------------------------------- */
.nav {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.nav-option.active {
  color: var(--primary-color);
  font-weight: bold;
  border-top: 1px solid var(--primary-color);
}

.nav-option.inactive {
  color: var(--secondary-color);
}

/* Mobile */
@media screen and (max-width: 800px) {
  .nav {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 66%;
  }
  .nav-option.active {
    padding-top: 19px;
    margin-top: -19px;
  }
}

/* Desktop */
@media screen and (min-width: 801px) {
  .nav {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 33%;
    font-size: 18px;
  }
  .nav-option.active {
    padding-top: 25px;
    margin-top: -25px;
  }
  .nav-option.inactive:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

/* Entries */
/* ---------------------------------------- */
.day-date {
  color: var(--primary-color);
  font-weight: bold;
}

.day-macros {
  color: var(--secondary-color);
}

.day-macro {
  margin-right: 10px;
}

.day-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Mobile */
@media screen and (max-width: 800px) {
  .day-title {
    margin-top: var(--gap-unit);
    margin-bottom: var(--gap-unit);
  }
  .day-date {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .day-macros {
    font-size: 14px;
  }
  .day-images {
    gap: 1px;
  }
}

/* Desktop */
@media screen and (min-width: 801px) {
  .day-title {
    margin-top: calc(var(--gap-unit) * 2);
    margin-bottom: calc(var(--gap-unit) * 2);
  }
  .day-date {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .day-macros {
    font-size: 18px;
  }
  .day-images {
    gap: var(--gap-unit);
  }
}

/* Trends */
/* ---------------------------------------- */
.trends-date-selector {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.trends-date-option {
  font-size: 14px;
}

.trends-date-option.active {
  color: var(--primary-color);
  font-weight: bold;
}

.trends-date-option.inactive {
  color: var(--secondary-color);
}

.trends-summary {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.trends-summary-calories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 15px;
  /* Gradient border with border-radius!
  ** to achieve this we use "background-clip", the inner background
  ** is the same as our page's background and the outer background
  ** is our actual gradient -- huzzah!
  ** Thanks: https://stackoverflow.com/a/51496341
  */
  background: linear-gradient(var(--background-color), var(--background-color))
      padding-box,
    linear-gradient(
        to bottom,
        var(--calorie-summary-start),
        var(--calorie-summary-end)
      )
      border-box;
  border-radius: 50px;
  border: 3px solid transparent;
}

.trends-summary-calories-title {
  font-size: 28px;
  font-weight: lighter;
}

.trends-summary-calories-subtitle {
  font-size: 14px;
}

.trends-summary-macros {
  display: flex;
}

.trends-summary-macro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.trends-summary-macro-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.trends-summary-macro-amount,
.trends-summary-macro-pct {
  font-size: 14px;
  margin-bottom: 5px;
}

.trends-chart-title {
  color: var(--primary-color);
  font-size: 18px;
}

.trends-chart-data {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Desktop */
@media screen and (min-width: 801px) {
  .trends-date-selector {
    width: 66%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .trends-date-option {
    font-size: 16px;
    font-weight: bold;
  }

  .trends-date-option.active {
    color: var(--primary-color);
  }

  .trends-date-option.inactive {
    color: var(--disabled-color);
  }

  .trends-date-option.inactive:hover {
    color: var(--primary-color);
    cursor: pointer;
  }

  .trends-summary {
    width: 66%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .trends-summary-calories {
    padding: 36px 24px;
    border-radius: 100px;
    border: 6px solid transparent;
  }

  .trends-summary-calories-title {
    font-size: 36px;
    font-weight: lighter;
  }

  .trends-summary-calories-subtitle {
    font-size: 18px;
  }

  .trends-summary-macro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trends-summary-macro-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: lighter;
  }

  .trends-summary-macro-amount,
  .trends-summary-macro-pct {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: lighter;
  }

  .trends-chart-title {
    font-size: 24px;
  }

  .trends-chart-data {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
